* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url("./Captura.png");
}
.alto{
  width: 100%;
  height: 500px;
}
.card {
  width: 640px;
  height: 450px;
  margin-top: 400px;
  margin-left: 25%;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}
@media (min-width: 768px) {
  .card{
    margin-left: 25%;
  }
}
.card:hover {
  transform: rotate(-5deg);
}
.card:hover .outside {
  transform: rotateY(-130deg);
}
.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
}
.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  line-height: 1.5;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}
.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.front {
  background: url("./img.jpg");
  background-size: cover;
  border: 2px solid black;
}
.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}
.outside p {
  padding: 0 10px;
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 6px;
  color: #fff;
  font-weight: 800;
}
.inside h1 {
  font-size: 120px;
  line-height: 120px;
}
